*
!README.md
!LICENSE
!.gitignore
!.gitconfig
!.gitmessage
!.zshrc
!.zprofile
!.zshenv
!.xbindkeysrc
!.xinitrc
!.config
!.config/alacritty/
!.config/alacritty/alacritty.yml
!.config/betterlockscreenrc
!.config/bat/
!.config/bat/config
!.config/colorls/
!.config/colorls/dark_colors.yaml
!.config/colorls/files.yaml
!.config/fish/
!.config/fish/conf.d/
!.config/fish/functions/
!.config/fish/completions/
!.config/fish/config.fish
!.config/fish/config-linux.fish
!.config/fish/config-osx.fish
!.config/fish/docker
!.config/fish/fish_variables
!.config/gtk-3.0/
!.config/gtk-3.0/settings.ini
!.config/gtk-4.0/
!.config/gtk-4.0/settings.ini
!.config/ranger/
!.config/ranger/rc.conf
!.config/ranger/rifle.conf
!.config/mako/
!.config/mako/config
!.config/i3/
!.config/i3/config
!.config/i3blocks/
!.config/i3blocks/config
!.scripts
!.scripts/config.sh
!.scripts/monitors.sh
!.scripts/packages.sh
!.scripts/pacman.sh
!.scripts/shared.sh
!.scripts/users.sh
!.scripts/wallpapers.sh
!.images
!.config/waybar/
!.config/waybar/config
!.config/waybar/style.css
!.config/sway/
!.config/sway/config

# Cache objects
packer_cache/
# Crash log
crash.log
# For built boxes
*.box
